.header .container {
  border-bottom: 1px solid #ececec;
}

.portfolio {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  padding-top: 94px;
  padding-bottom: 94px;
}

.btn {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  margin-left: 8px;
  margin-top: 50px;
  text-align: center;
  border-style: hidden;
  border-radius: 4px;
}

.post-itemh {
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
  margin: 0px;
  margin-bottom: 4px;
}

.post-itemps,
.post-itempd,
.post-itempm,
.post-itempa {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--main-gray);
  margin-top: 0px;
  margin-bottom: 0px;
}

.btns,
.post {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.btns {
  margin-bottom: 50px;
}

.post {
  flex-wrap: wrap;
  align-items: center;
  margin-left: -30px;
  margin-top: -30px;
}

.post li {
  flex-basis: calc(100% / 3 - 30px);
}

.post-item {
  margin-top: 30px;
  margin-left: 30px;
  outline: 1px solid #ececec;
}

.name-card {
  padding: 20px 24px;
}
